/****** Object:  Database [HealthChildTracker]    Script Date: 10/08/2025 6:20:55 CH ******/
CREATE DATABASE [HealthChildTracker]  
GO
USE HealthChildTracker
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[accountName] [nvarchar](255) NOT NULL,
	[password] [nchar](255) NOT NULL,
	[email] [nchar](255) NOT NULL,
	[role] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentSchedule]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentSchedule](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityId] [int] NOT NULL,
	[SlotId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[BookedCount] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentSurvey]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentSurvey](
	[SurveyID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[AnswerID] [int] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SurveyID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Category] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Child]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Child](
	[child_id] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[NationId] [int] NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[birth_date] [datetime] NOT NULL,
	[gender] [nchar](255) NOT NULL,
	[BloodType] [nvarchar](255) NOT NULL,
	[AllergiesNotes] [nvarchar](255) NULL,
	[MedicalHistory] [nvarchar](255) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdateAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Child__015ADC0553E677A4] PRIMARY KEY CLUSTERED 
(
	[child_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChildVaccineProfile]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChildVaccineProfile](
	[VaccineProfileId] [int] IDENTITY(1,1) NOT NULL,
	[ChildId] [int] NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[AppointmentId] [int] NULL,
	[VaccineId] [int] NOT NULL,
	[DoseNum] [int] NOT NULL,
	[ExpectedDate] [date] NULL,
	[ActualDate] [date] NULL,
	[Status] [nvarchar](255) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[Priority] [nvarchar](255) NULL,
	[CreatedAt] [bigint] NOT NULL,
	[UpdatedAt] [bigint] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK__ChildVac__5845CEFCBAB2DD38] PRIMARY KEY CLUSTERED 
(
	[VaccineProfileId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyRecord]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyRecord](
	[DailyRecordId] [int] IDENTITY(1,1) NOT NULL,
	[ChildId] [int] NOT NULL,
	[RecordDate] [date] NOT NULL,
	[MilkAmount] [int] NOT NULL,
	[FeedingTimes] [int] NOT NULL,
	[DiaperChanges] [int] NOT NULL,
	[SleepHours] [decimal](8, 2) NOT NULL,
	[Note] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DailyRecordId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disease]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disease](
	[DiseaseID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Symptoms] [nvarchar](max) NULL,
	[Treatment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiseaseID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorProfile]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorProfile](
	[doctor_id] [int] NOT NULL,
	[age] [int] NOT NULL,
	[specialization] [nvarchar](255) NOT NULL,
	[certifications] [nvarchar](max) NULL,
	[university] [nvarchar](255) NULL,
	[bio] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacilityMembership]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacilityMembership](
	[FacilityMembershipId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Duration] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Benefits] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Facility__97DC9F53837A93DA] PRIMARY KEY CLUSTERED 
(
	[FacilityMembershipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacilityMembershipSubscription]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacilityMembershipSubscription](
	[SubscriptionId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityId] [int] NOT NULL,
	[FacilityMembershipId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacilityRatings]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacilityRatings](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[ServiceQuality] [int] NOT NULL,
	[FacilityCleanliness] [int] NOT NULL,
	[StaffAttitude] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacilityStaff]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacilityStaff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[facility_id] [int] NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[phone] [int] NULL,
	[email] [nvarchar](255) NULL,
	[position] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacilityVaccine]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacilityVaccine](
	[FacilityVaccineId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityId] [int] NOT NULL,
	[VaccineId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[BatchNumber] [int] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[ImportDate] [date] NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Facility__476D708638149A04] PRIMARY KEY CLUSTERED 
(
	[FacilityVaccineId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrowthRecord]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrowthRecord](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[child_id] [int] NOT NULL,
	[height] [decimal](8, 2) NOT NULL,
	[weight] [decimal](8, 2) NOT NULL,
	[BMI] [decimal](8, 2) NOT NULL,
	[HeadCircumference] [decimal](8, 2) NOT NULL,
	[Note] [nvarchar](255) NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrowthStandard]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrowthStandard](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NationId] [int] NULL,
	[Gender] [nvarchar](255) NOT NULL,
	[AgeInMonths] [int] NOT NULL,
	[Measurement] [nvarchar](255) NOT NULL,
	[SD3neg] [decimal](8, 2) NOT NULL,
	[SD2neg] [decimal](8, 2) NOT NULL,
	[SD1neg] [decimal](8, 2) NOT NULL,
	[Median] [decimal](8, 2) NOT NULL,
	[SD1pos] [decimal](8, 2) NOT NULL,
	[SD2pos] [decimal](8, 2) NOT NULL,
	[SD3pos] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK__GrowthSt__3213E83F4B63EF43] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthSurvey]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthSurvey](
	[SurveyID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SurveyID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membership]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership](
	[MembershipId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Duration] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Benefits] [nvarchar](255) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Membersh__92A78679BAA22269] PRIMARY KEY CLUSTERED 
(
	[MembershipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationality]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationality](
	[NationId] [int] IDENTITY(1,1) NOT NULL,
	[NationName] [nchar](50) NOT NULL,
	[Description] [nchar](255) NULL,
 CONSTRAINT [PK_Nationality] PRIMARY KEY CLUSTERED 
(
	[NationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[PackageId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[FacilityVaccineID] [int] NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[RemainingQuantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__OrderDet__D3B9D30CE26077A6] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageVaccine]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageVaccine](
	[PackageVaccineId] [int] IDENTITY(1,1) NOT NULL,
	[PackageId] [int] NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[FacilityVaccineId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PackageV__6CD20C217C690036] PRIMARY KEY CLUSTERED 
(
	[PackageVaccineId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleSlot]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleSlot](
	[SlotId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityId] [int] NOT NULL,
	[WorkingHoursGroupId] [nvarchar](max) NOT NULL,
	[SlotTime] [nvarchar](50) NOT NULL,
	[StartTime] [time](0) NULL,
	[EndTime] [time](0) NULL,
	[SlotDurationMinutes] [int] NULL,
	[LunchBreakStart] [time](0) NULL,
	[LunchBreakEnd] [time](0) NULL,
	[MaxCapacity] [int] NOT NULL,
	[BookedCount] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsWorkingHours] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Schedule__0A124AAFB6630F97] PRIMARY KEY CLUSTERED 
(
	[SlotId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurveyAnswer]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyAnswer](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[AnswerText] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurveyQuestion]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyQuestion](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[QuestionType] [nvarchar](50) NOT NULL,
	[SurveyId] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[FacilityMembershipSubscriptionId] [int] NULL,
	[UserMembershipId] [int] NULL,
	[TransactionType] [nchar](10) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](255) NOT NULL,
	[TransactionCode] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[created_at] [date] NOT NULL,
 CONSTRAINT [PK__Transact__9A8C4A3DD9046401] PRIMARY KEY CLUSTERED 
(
	[Transaction_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMembership]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMembership](
	[UserMembershipId] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[MembershipId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[LastRenewalDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserMembershipId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationAppointment]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationAppointment](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[ChildId] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[Status] [nvarchar](255) NOT NULL,
	[Note] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationAppointmentDetail]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationAppointmentDetail](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[VaccineId] [int] NOT NULL,
	[VaccinationDate] [date] NOT NULL,
	[DoseNumber] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationFacility]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationFacility](
	[FacilityId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityName] [nvarchar](255) NOT NULL,
	[LicenseNumber] [int] NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Phone] [int] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bigint] NOT NULL,
	[CreatedAt] [bigint] NOT NULL,
	[UpdatedAt] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FacilityId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationFacilityPaymentAccount]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationFacilityPaymentAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FacilityId] [int] NOT NULL,
	[BankName] [nvarchar](250) NOT NULL,
	[AccountNumber] [nchar](250) NOT NULL,
	[AccountHolder] [nvarchar](250) NOT NULL,
	[QRCodeImageUrl] [nvarchar](max) NOT NULL,
	[IsActive] [nvarchar](50) NOT NULL,
	[CreatedAt] [date] NOT NULL,
	[UpdatedAt] [date] NOT NULL,
 CONSTRAINT [PK_VaccinationFacilityPaymentAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccine]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccine](
	[VaccineId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Manufacturer] [nvarchar](255) NOT NULL,
	[Category] [nvarchar](255) NOT NULL,
	[AgeGroup] [nvarchar](255) NOT NULL,
	[NumberOfDoses] [int] NOT NULL,
	[MinIntervalBetweenDoses] [int] NOT NULL,
	[SideEffects] [nvarchar](255) NULL,
	[Contraindications] [nvarchar](255) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Vaccine__45DC6889978ACD82] PRIMARY KEY CLUSTERED 
(
	[VaccineId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineDisease]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineDisease](
	[VaccineDiseaseID] [int] IDENTITY(1,1) NOT NULL,
	[DiseaseID] [int] NOT NULL,
	[VaccineID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccineDiseaseID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinePackage]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinePackage](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Duration] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__VaccineP__322035CCDD0F7092] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineTemplate]    Script Date: 10/08/2025 6:20:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[PeriodFrom] [nvarchar](50) NOT NULL,
	[PeriodTo] [nvarchar](50) NOT NULL,
	[DoseNum] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsRequired] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__VaccineT__3214EC071D12FD88] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[AppointmentSchedule] ON 

INSERT [dbo].[AppointmentSchedule] ([ScheduleId], [FacilityId], [SlotId], [Date], [BookedCount], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 4, 1, CAST(N'2025-07-16' AS Date), 0, N'Unavailable', CAST(N'2025-07-16T16:51:21.860' AS DateTime), CAST(N'2025-07-16T16:51:21.863' AS DateTime))
INSERT [dbo].[AppointmentSchedule] ([ScheduleId], [FacilityId], [SlotId], [Date], [BookedCount], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 4, 2, CAST(N'2025-07-16' AS Date), 0, N'Unavailable', CAST(N'2025-07-16T16:51:21.863' AS DateTime), CAST(N'2025-07-16T16:51:21.863' AS DateTime))
INSERT [dbo].[AppointmentSchedule] ([ScheduleId], [FacilityId], [SlotId], [Date], [BookedCount], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 4, 3, CAST(N'2025-07-16' AS Date), 0, N'Unavailable', CAST(N'2025-07-16T16:51:21.863' AS DateTime), CAST(N'2025-07-16T16:51:21.863' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[AppointmentSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[AppointmentSurvey] ON 

INSERT [dbo].[AppointmentSurvey] ([SurveyID], [AppointmentID], [QuestionID], [AnswerID], [AnswerText], [CreatedAt], [UpdatedAt]) VALUES (8, 2, 1, NULL, N'no', CAST(N'2025-07-21T17:19:51.387' AS DateTime), CAST(N'2025-07-21T17:19:51.387' AS DateTime))
INSERT [dbo].[AppointmentSurvey] ([SurveyID], [AppointmentID], [QuestionID], [AnswerID], [AnswerText], [CreatedAt], [UpdatedAt]) VALUES (9, 2, 2, NULL, N'no', CAST(N'2025-07-21T17:19:51.387' AS DateTime), CAST(N'2025-07-21T17:19:51.387' AS DateTime))
INSERT [dbo].[AppointmentSurvey] ([SurveyID], [AppointmentID], [QuestionID], [AnswerID], [AnswerText], [CreatedAt], [UpdatedAt]) VALUES (10, 2, 3, NULL, N'Không', CAST(N'2025-07-21T17:19:51.387' AS DateTime), CAST(N'2025-07-21T17:19:51.387' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[AppointmentSurvey] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Child] ON 

SET IDENTITY_INSERT [dbo].[Child] OFF
GO
SET IDENTITY_INSERT [dbo].[ChildVaccineProfile] ON 

INSERT [dbo].[ChildVaccineProfile] ([VaccineProfileId], [ChildId], [DiseaseId], [AppointmentId], [VaccineId], [DoseNum], [ExpectedDate], [ActualDate], [Status], [IsRequired], [Priority], [CreatedAt], [UpdatedAt], [Note]) VALUES (2, 7, 1, NULL, 1, 2, CAST(N'2025-06-27' AS Date), CAST(N'2025-05-27' AS Date), N'string', 1, N'string', 1751032023, 1751032023, NULL)
INSERT [dbo].[ChildVaccineProfile] ([VaccineProfileId], [ChildId], [DiseaseId], [AppointmentId], [VaccineId], [DoseNum], [ExpectedDate], [ActualDate], [Status], [IsRequired], [Priority], [CreatedAt], [UpdatedAt], [Note]) VALUES (3, 8, 1, NULL, 1, 2, CAST(N'2025-06-27' AS Date), CAST(N'2025-06-27' AS Date), N'string', 1, N'string', 1751032351, 1751032351, NULL)
INSERT [dbo].[ChildVaccineProfile] ([VaccineProfileId], [ChildId], [DiseaseId], [AppointmentId], [VaccineId], [DoseNum], [ExpectedDate], [ActualDate], [Status], [IsRequired], [Priority], [CreatedAt], [UpdatedAt], [Note]) VALUES (4, 8, 1, NULL, 2, 2, CAST(N'2025-06-26' AS Date), CAST(N'2025-06-25' AS Date), N'string', 1, N'string', 1751078567, 1751078567, NULL)
SET IDENTITY_INSERT [dbo].[ChildVaccineProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[DailyRecord] ON 

INSERT [dbo].[DailyRecord] ([DailyRecordId], [ChildId], [RecordDate], [MilkAmount], [FeedingTimes], [DiaperChanges], [SleepHours], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, 7, CAST(N'2005-12-05' AS Date), 2, 2, 5, CAST(11.00 AS Decimal(8, 2)), N'trẻ ngủ nhiều và hay đi tiểu', CAST(N'2025-06-20T07:58:00.340' AS DateTime), CAST(N'2025-06-20T08:01:56.423' AS DateTime))
INSERT [dbo].[DailyRecord] ([DailyRecordId], [ChildId], [RecordDate], [MilkAmount], [FeedingTimes], [DiaperChanges], [SleepHours], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, 7, CAST(N'2005-12-06' AS Date), 3, 2, 6, CAST(10.00 AS Decimal(8, 2)), N'trẻ khó tiêu', CAST(N'2025-06-20T07:58:48.700' AS DateTime), CAST(N'2025-06-20T07:58:48.700' AS DateTime))
INSERT [dbo].[DailyRecord] ([DailyRecordId], [ChildId], [RecordDate], [MilkAmount], [FeedingTimes], [DiaperChanges], [SleepHours], [Note], [CreatedAt], [UpdatedAt]) VALUES (3, 8, CAST(N'2005-12-06' AS Date), 3, 2, 6, CAST(10.00 AS Decimal(8, 2)), N'trẻ khó ăn', CAST(N'2025-06-20T08:00:19.687' AS DateTime), CAST(N'2025-06-20T08:00:19.687' AS DateTime))
SET IDENTITY_INSERT [dbo].[DailyRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[Disease] ON 

INSERT [dbo].[Disease] ([DiseaseID], [Name], [Description], [Symptoms], [Treatment], [CreatedAt], [UpdatedAt]) VALUES (1, N'string', N'string', N'string', N'string', CAST(N'2025-06-27T13:36:42.190' AS DateTime), CAST(N'2025-06-27T13:36:42.190' AS DateTime))
INSERT [dbo].[Disease] ([DiseaseID], [Name], [Description], [Symptoms], [Treatment], [CreatedAt], [UpdatedAt]) VALUES (2, N'Cảm cúm', N'Bệnh nhiễm virus thường gặp gây ra sốt, ho và đau họng.', N'Sốt nhẹ, ho, đau họng, mệt mỏi', N'Nghỉ ngơi, uống nhiều nước, thuốc hạ sốt và giảm đau', CAST(N'2025-06-28T02:37:45.493' AS DateTime), CAST(N'2025-06-28T02:37:45.493' AS DateTime))
INSERT [dbo].[Disease] ([DiseaseID], [Name], [Description], [Symptoms], [Treatment], [CreatedAt], [UpdatedAt]) VALUES (3, N'Viêm họng', N'Tình trạng viêm nhiễm ở cổ họng do vi khuẩn hoặc virus.', N'Đau họng, khàn tiếng, nuốt đau', N'Kháng sinh (nếu do vi khuẩn), súc miệng nước muối, nghỉ ngơi', CAST(N'2025-06-28T02:37:56.347' AS DateTime), CAST(N'2025-06-28T02:37:56.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[Disease] OFF
GO
INSERT [dbo].[DoctorProfile] ([doctor_id], [age], [specialization], [certifications], [university], [bio], [created_at], [updated_at]) VALUES (19, 30, N'string', N'string', N'string', N'string', CAST(N'2025-07-23T15:21:57.657' AS DateTime), CAST(N'2025-07-23T15:21:57.657' AS DateTime))
INSERT [dbo].[DoctorProfile] ([doctor_id], [age], [specialization], [certifications], [university], [bio], [created_at], [updated_at]) VALUES (20, 25, N'string', N'string', N'string', N'string', CAST(N'2025-07-24T04:13:05.197' AS DateTime), CAST(N'2025-07-24T04:13:05.197' AS DateTime))
INSERT [dbo].[DoctorProfile] ([doctor_id], [age], [specialization], [certifications], [university], [bio], [created_at], [updated_at]) VALUES (22, 23, N'string', N'string', N'string', N'string', CAST(N'2025-08-03T13:50:31.213' AS DateTime), CAST(N'2025-08-03T13:50:31.213' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[FacilityRatings] ON 

INSERT [dbo].[FacilityRatings] ([RatingId], [FacilityId], [MemberId], [Rating], [Comment], [ServiceQuality], [FacilityCleanliness], [StaffAttitude], [CreatedAt], [UpdatedAt]) VALUES (2, 3, 17, 5, N'dịch vụ tốt', 5, 5, 4, CAST(N'2025-08-07T05:57:47.343' AS DateTime), CAST(N'2025-08-07T05:57:47.343' AS DateTime))
INSERT [dbo].[FacilityRatings] ([RatingId], [FacilityId], [MemberId], [Rating], [Comment], [ServiceQuality], [FacilityCleanliness], [StaffAttitude], [CreatedAt], [UpdatedAt]) VALUES (4, 3, 7, 4, N'Dịch vụ ở mức ổn', 3, 4, 4, CAST(N'2025-08-07T07:02:29.613' AS DateTime), CAST(N'2025-08-07T07:02:29.613' AS DateTime))
SET IDENTITY_INSERT [dbo].[FacilityRatings] OFF
GO
SET IDENTITY_INSERT [dbo].[FacilityStaff] ON 

INSERT [dbo].[FacilityStaff] ([staff_id], [account_id], [facility_id], [full_name], [phone], [email], [position], [description], [status], [created_at], [updated_at]) VALUES (8, 20, 3, N'Bùi Bảo Khang', 818621315, N'baokhang212121@gmail.com', N'Manager', N'Facility Manager', 1, CAST(N'2025-06-29T16:52:45.030' AS DateTime), CAST(N'2025-06-29T16:52:45.030' AS DateTime))
INSERT [dbo].[FacilityStaff] ([staff_id], [account_id], [facility_id], [full_name], [phone], [email], [position], [description], [status], [created_at], [updated_at]) VALUES (9, 21, 3, N'khang bui ', 818621313, N'baokhang2@gmail.com', N'Manager', N'string', 1, CAST(N'2025-07-01T15:26:12.543' AS DateTime), CAST(N'2025-07-01T15:26:12.543' AS DateTime))
INSERT [dbo].[FacilityStaff] ([staff_id], [account_id], [facility_id], [full_name], [phone], [email], [position], [description], [status], [created_at], [updated_at]) VALUES (10, 22, 3, N'bbbbbbbbbbbbbbbb', 792317103, N'123456@example.com', N'Manager', N'string', 1, CAST(N'2025-07-02T13:13:50.963' AS DateTime), CAST(N'2025-07-02T13:13:50.963' AS DateTime))
SET IDENTITY_INSERT [dbo].[FacilityStaff] OFF
GO
SET IDENTITY_INSERT [dbo].[FacilityVaccine] ON 

INSERT [dbo].[FacilityVaccine] ([FacilityVaccineId], [FacilityId], [VaccineId], [Price], [AvailableQuantity], [BatchNumber], [ExpiryDate], [ImportDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 3, 1, CAST(100000.00 AS Decimal(10, 2)), 49, 13, CAST(N'2026-07-03' AS Date), CAST(N'2025-07-03' AS Date), N'active', CAST(N'2025-07-03T09:24:45.277' AS DateTime), CAST(N'2025-07-03T09:24:45.277' AS DateTime))
INSERT [dbo].[FacilityVaccine] ([FacilityVaccineId], [FacilityId], [VaccineId], [Price], [AvailableQuantity], [BatchNumber], [ExpiryDate], [ImportDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 5, 1, CAST(100000.00 AS Decimal(10, 2)), 150, 33, CAST(N'2026-03-25' AS Date), CAST(N'2025-07-17' AS Date), N'active', CAST(N'2025-07-17T13:27:05.167' AS DateTime), CAST(N'2025-07-17T13:27:05.167' AS DateTime))
INSERT [dbo].[FacilityVaccine] ([FacilityVaccineId], [FacilityId], [VaccineId], [Price], [AvailableQuantity], [BatchNumber], [ExpiryDate], [ImportDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 5, 2, CAST(100000.00 AS Decimal(10, 2)), 53, 33, CAST(N'2026-03-25' AS Date), CAST(N'2025-07-17' AS Date), N'active', CAST(N'2025-07-17T13:27:21.553' AS DateTime), CAST(N'2025-07-17T13:27:21.553' AS DateTime))
SET IDENTITY_INSERT [dbo].[FacilityVaccine] OFF
GO
SET IDENTITY_INSERT [dbo].[GrowthRecord] ON 

INSERT [dbo].[GrowthRecord] ([RecordId], [child_id], [height], [weight], [BMI], [HeadCircumference], [Note], [Created_at], [Updated_at]) VALUES (1, 1, CAST(200.00 AS Decimal(8, 2)), CAST(100.00 AS Decimal(8, 2)), CAST(25.00 AS Decimal(8, 2)), CAST(100.00 AS Decimal(8, 2)), N'string', CAST(N'2025-06-19T09:50:10.187' AS DateTime), CAST(N'2025-06-19T09:50:10.183' AS DateTime))
INSERT [dbo].[GrowthRecord] ([RecordId], [child_id], [height], [weight], [BMI], [HeadCircumference], [Note], [Created_at], [Updated_at]) VALUES (2, 10, CAST(250.00 AS Decimal(8, 2)), CAST(200.00 AS Decimal(8, 2)), CAST(32.00 AS Decimal(8, 2)), CAST(80.00 AS Decimal(8, 2)), N'string', CAST(N'2025-06-20T13:37:10.987' AS DateTime), CAST(N'2025-06-20T13:37:10.987' AS DateTime))
INSERT [dbo].[GrowthRecord] ([RecordId], [child_id], [height], [weight], [BMI], [HeadCircumference], [Note], [Created_at], [Updated_at]) VALUES (3, 11, CAST(50.00 AS Decimal(8, 2)), CAST(3.00 AS Decimal(8, 2)), CAST(12.00 AS Decimal(8, 2)), CAST(40.00 AS Decimal(8, 2)), N'không', CAST(N'2025-06-20T15:39:30.840' AS DateTime), CAST(N'2025-06-20T15:39:30.840' AS DateTime))
SET IDENTITY_INSERT [dbo].[GrowthRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[GrowthStandard] ON 

INSERT [dbo].[GrowthStandard] ([id], [NationId], [Gender], [AgeInMonths], [Measurement], [SD3neg], [SD2neg], [SD1neg], [Median], [SD1pos], [SD2pos], [SD3pos]) VALUES (1, NULL, N'Male', 0, N'Height', CAST(44.20 AS Decimal(8, 2)), CAST(46.10 AS Decimal(8, 2)), CAST(48.00 AS Decimal(8, 2)), CAST(49.90 AS Decimal(8, 2)), CAST(51.80 AS Decimal(8, 2)), CAST(53.70 AS Decimal(8, 2)), CAST(55.60 AS Decimal(8, 2)))
INSERT [dbo].[GrowthStandard] ([id], [NationId], [Gender], [AgeInMonths], [Measurement], [SD3neg], [SD2neg], [SD1neg], [Median], [SD1pos], [SD2pos], [SD3pos]) VALUES (2, NULL, N'Male', 30, N'Height', CAST(48.90 AS Decimal(8, 2)), CAST(50.80 AS Decimal(8, 2)), CAST(52.70 AS Decimal(8, 2)), CAST(54.70 AS Decimal(8, 2)), CAST(56.70 AS Decimal(8, 2)), CAST(58.60 AS Decimal(8, 2)), CAST(60.60 AS Decimal(8, 2)))
INSERT [dbo].[GrowthStandard] ([id], [NationId], [Gender], [AgeInMonths], [Measurement], [SD3neg], [SD2neg], [SD1neg], [Median], [SD1pos], [SD2pos], [SD3pos]) VALUES (3, NULL, N'Male', 60, N'Height', CAST(52.40 AS Decimal(8, 2)), CAST(54.40 AS Decimal(8, 2)), CAST(56.40 AS Decimal(8, 2)), CAST(58.40 AS Decimal(8, 2)), CAST(60.40 AS Decimal(8, 2)), CAST(62.40 AS Decimal(8, 2)), CAST(64.40 AS Decimal(8, 2)))
GO
SET IDENTITY_INSERT [dbo].[GrowthStandard] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthSurvey] ON 

INSERT [dbo].[HealthSurvey] ([SurveyID], [Title], [Description], [StartDate], [EndDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'Phiếu khảo sát trước khi tiêm cho vaccine Imojev', N'Khảo sát trước khi tiêm chủng cho vaccine Imojev', CAST(N'2025-07-19' AS Date), CAST(N'2029-07-19' AS Date), N'Active', CAST(N'2025-07-19T14:36:31.983' AS DateTime), CAST(N'2025-07-19T14:36:31.983' AS DateTime))
INSERT [dbo].[HealthSurvey] ([SurveyID], [Title], [Description], [StartDate], [EndDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'Khảo sát sau khi tiêm', N'khảo sát kiểm tra tình trạng trẻ sau khi tiêm', CAST(N'2025-07-22' AS Date), CAST(N'2025-12-27' AS Date), N'Active', CAST(N'2025-07-22T03:11:21.090' AS DateTime), CAST(N'2025-07-22T03:11:21.090' AS DateTime))
INSERT [dbo].[HealthSurvey] ([SurveyID], [Title], [Description], [StartDate], [EndDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'Khảo sát sàng lọc trước khi tiêm ', N'Khảo sát sàng lọc ', CAST(N'2025-08-02' AS Date), CAST(N'2028-07-01' AS Date), N'Active', CAST(N'2025-08-01T20:31:57.303' AS DateTime), CAST(N'2025-08-01T20:31:57.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[HealthSurvey] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberID], [AccountID], [FullName], [PhoneNumber], [Address], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'string', N'string', N'string', CAST(N'2025-06-19T07:40:56.053' AS DateTime), CAST(N'2025-06-28T03:55:10.967' AS DateTime))
INSERT [dbo].[Member] ([MemberID], [AccountID], [FullName], [PhoneNumber], [Address], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'string', N'1234567890', N'string', CAST(N'2025-06-19T07:55:39.620' AS DateTime), CAST(N'2025-06-19T07:55:39.620' AS DateTime))
INSERT [dbo].[Member] ([MemberID], [AccountID], [FullName], [PhoneNumber], [Address], [CreatedAt], [UpdatedAt]) VALUES (4, 4, N'Tran Minh Hieu', N'0908976841', N'32 Ho Van Leo', CAST(N'2025-06-19T14:47:57.970' AS DateTime), CAST(N'2025-06-19T14:47:57.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Membership] ON 

INSERT [dbo].[Membership] ([MembershipId], [Name], [Description], [Duration], [Price], [Benefits], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'Gói cơ bản cho người dùng', N'Test', 30, CAST(2000.00 AS Decimal(10, 2)), N'Dự đoán tương lai', 1, CAST(N'2025-07-21T08:48:15.977' AS DateTime), CAST(N'2025-07-21T08:48:15.977' AS DateTime))
SET IDENTITY_INSERT [dbo].[Membership] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [MemberId], [PackageId], [OrderDate], [TotalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 7, 11, CAST(N'2025-07-20T17:11:30.360' AS DateTime), CAST(1200000.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-07-20T17:13:30.130' AS DateTime), CAST(N'2025-07-20T17:13:30.130' AS DateTime))
INSERT [dbo].[Order] ([OrderID], [MemberId], [PackageId], [OrderDate], [TotalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (4, 7, 12, CAST(N'2025-07-21T05:21:52.930' AS DateTime), CAST(3600000.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-07-21T05:25:13.620' AS DateTime), CAST(N'2025-07-21T05:25:13.620' AS DateTime))
INSERT [dbo].[Order] ([OrderID], [MemberId], [PackageId], [OrderDate], [TotalAmount], [Status], [CreatedAt], [UpdatedAt]) VALUES (5, 6, 11, CAST(N'2025-07-24T03:40:59.193' AS DateTime), CAST(350000.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-07-24T04:31:40.907' AS DateTime), CAST(N'2025-07-24T04:31:40.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [FacilityVaccineID], [DiseaseId], [RemainingQuantity], [Price], [CreatedAt], [UpdatedAt]) VALUES (4, 3, 10, 14, 2, CAST(700000.00 AS Decimal(10, 2)), CAST(N'2025-07-20T17:13:30.130' AS DateTime), CAST(N'2025-07-20T17:13:30.130' AS DateTime))
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [FacilityVaccineID], [DiseaseId], [RemainingQuantity], [Price], [CreatedAt], [UpdatedAt]) VALUES (5, 3, 9, 15, 1, CAST(500000.00 AS Decimal(10, 2)), CAST(N'2025-07-20T17:13:30.130' AS DateTime), CAST(N'2025-07-20T17:13:30.130' AS DateTime))
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [FacilityVaccineID], [DiseaseId], [RemainingQuantity], [Price], [CreatedAt], [UpdatedAt]) VALUES (6, 4, 6, 10, 2, CAST(600000.00 AS Decimal(10, 2)), CAST(N'2025-07-21T05:25:13.620' AS DateTime), CAST(N'2025-07-21T05:25:13.620' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[PackageVaccine] ON 

INSERT [dbo].[PackageVaccine] ([PackageVaccineId], [PackageId], [DiseaseId], [FacilityVaccineId], [Quantity], [CreatedAt], [UpdatedAt]) VALUES (1, 11, 14, 10, 2, CAST(N'2025-07-20T17:01:48.040' AS DateTime), CAST(N'2025-07-20T17:01:48.040' AS DateTime))
INSERT [dbo].[PackageVaccine] ([PackageVaccineId], [PackageId], [DiseaseId], [FacilityVaccineId], [Quantity], [CreatedAt], [UpdatedAt]) VALUES (2, 11, 15, 9, 2, CAST(N'2025-07-20T17:01:48.040' AS DateTime), CAST(N'2025-07-20T17:01:48.040' AS DateTime))
INSERT [dbo].[PackageVaccine] ([PackageVaccineId], [PackageId], [DiseaseId], [FacilityVaccineId], [Quantity], [CreatedAt], [UpdatedAt]) VALUES (3, 12, 10, 6, 3, CAST(N'2025-07-21T05:21:51.303' AS DateTime), CAST(N'2025-07-21T05:21:51.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[PackageVaccine] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduleSlot] ON 

INSERT [dbo].[ScheduleSlot] ([SlotId], [FacilityId], [WorkingHoursGroupId], [SlotTime], [StartTime], [EndTime], [SlotDurationMinutes], [LunchBreakStart], [LunchBreakEnd], [MaxCapacity], [BookedCount], [Status], [IsWorkingHours], [CreatedAt], [UpdatedAt]) VALUES (1, 4, N'WH_4_20250716_234958_1e5002da', N'08:00 - 09:00', CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time), 60, CAST(N'12:00:00' AS Time), CAST(N'13:00:00' AS Time), 20, 0, N'Available', 1, CAST(N'2025-07-16T16:49:58.497' AS DateTime), CAST(N'2025-07-16T16:49:58.497' AS DateTime))
INSERT [dbo].[ScheduleSlot] ([SlotId], [FacilityId], [WorkingHoursGroupId], [SlotTime], [StartTime], [EndTime], [SlotDurationMinutes], [LunchBreakStart], [LunchBreakEnd], [MaxCapacity], [BookedCount], [Status], [IsWorkingHours], [CreatedAt], [UpdatedAt]) VALUES (2, 4, N'WH_4_20250716_234958_1e5002da', N'09:00 - 10:00', CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), 60, CAST(N'12:00:00' AS Time), CAST(N'13:00:00' AS Time), 20, 0, N'Available', 1, CAST(N'2025-07-16T16:49:58.497' AS DateTime), CAST(N'2025-07-16T16:49:58.497' AS DateTime))
INSERT [dbo].[ScheduleSlot] ([SlotId], [FacilityId], [WorkingHoursGroupId], [SlotTime], [StartTime], [EndTime], [SlotDurationMinutes], [LunchBreakStart], [LunchBreakEnd], [MaxCapacity], [BookedCount], [Status], [IsWorkingHours], [CreatedAt], [UpdatedAt]) VALUES (3, 4, N'WH_4_20250716_234958_1e5002da', N'10:00 - 11:00', CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), 60, CAST(N'12:00:00' AS Time), CAST(N'13:00:00' AS Time), 20, 0, N'Available', 1, CAST(N'2025-07-16T16:49:58.497' AS DateTime), CAST(N'2025-07-16T16:49:58.497' AS DateTime))
SET IDENTITY_INSERT [dbo].[ScheduleSlot] OFF
GO
SET IDENTITY_INSERT [dbo].[SurveyQuestion] ON 

INSERT [dbo].[SurveyQuestion] ([QuestionID], [QuestionText], [QuestionType], [SurveyId], [IsRequired], [CreatedAt], [UpdatedAt]) VALUES (1, N'Trẻ có đang bị sốt không ?', N'YesNo', 1, 1, CAST(N'2025-07-19T15:01:55.913' AS DateTime), CAST(N'2025-07-19T15:01:55.913' AS DateTime))
INSERT [dbo].[SurveyQuestion] ([QuestionID], [QuestionText], [QuestionType], [SurveyId], [IsRequired], [CreatedAt], [UpdatedAt]) VALUES (2, N'Trẻ có bỏ lỡ hoặc chậm lịch tiêm chủng nào không?', N'YesNo', 1, 1, CAST(N'2025-07-21T04:27:04.683' AS DateTime), CAST(N'2025-07-21T04:27:04.683' AS DateTime))
INSERT [dbo].[SurveyQuestion] ([QuestionID], [QuestionText], [QuestionType], [SurveyId], [IsRequired], [CreatedAt], [UpdatedAt]) VALUES (3, N'Trẻ có đang mắc bệnh cấp tính hoặc mãn tính nào không (ví dụ: viêm phổi, bệnh tim bẩm sinh)?', N'Text', 1, 1, CAST(N'2025-07-21T04:28:45.783' AS DateTime), CAST(N'2025-07-21T04:28:45.783' AS DateTime))
SET IDENTITY_INSERT [dbo].[SurveyQuestion] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([Transaction_id], [FacilityMembershipSubscriptionId], [UserMembershipId], [TransactionType], [Amount], [PaymentMethod], [TransactionCode], [Description], [Status], [created_at]) VALUES (17, NULL, 85, N'User      ', CAST(2000.00 AS Decimal(10, 2)), N'PAYOS', N'1754652303913_47_User_1', N'Goi thanh vien', N'PENDING', CAST(N'2025-08-08' AS Date))
INSERT [dbo].[Transaction] ([Transaction_id], [FacilityMembershipSubscriptionId], [UserMembershipId], [TransactionType], [Amount], [PaymentMethod], [TransactionCode], [Description], [Status], [created_at]) VALUES (18, NULL, 86, N'User      ', CAST(2000.00 AS Decimal(10, 2)), N'PAYOS', N'1754652465981_47_User_1', N'Goi thanh vien', N'PENDING', CAST(N'2025-08-08' AS Date))
INSERT [dbo].[Transaction] ([Transaction_id], [FacilityMembershipSubscriptionId], [UserMembershipId], [TransactionType], [Amount], [PaymentMethod], [TransactionCode], [Description], [Status], [created_at]) VALUES (19, NULL, 87, N'User      ', CAST(2000.00 AS Decimal(10, 2)), N'PAYOS', N'1754652747004_47_User_1', N'Goi thanh vien', N'PENDING', CAST(N'2025-08-08' AS Date))
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMembership] ON 

INSERT [dbo].[UserMembership] ([UserMembershipId], [AccountID], [MembershipId], [StartDate], [EndDate], [Status], [LastRenewalDate]) VALUES (85, 47, 1, CAST(N'2025-08-08T11:25:05.287' AS DateTime), CAST(N'2028-02-08T11:25:05.287' AS DateTime), 0, CAST(N'2025-08-08' AS Date))
INSERT [dbo].[UserMembership] ([UserMembershipId], [AccountID], [MembershipId], [StartDate], [EndDate], [Status], [LastRenewalDate]) VALUES (86, 47, 1, CAST(N'2025-08-08T11:27:46.587' AS DateTime), CAST(N'2028-02-08T11:27:46.587' AS DateTime), 0, CAST(N'2025-08-08' AS Date))
INSERT [dbo].[UserMembership] ([UserMembershipId], [AccountID], [MembershipId], [StartDate], [EndDate], [Status], [LastRenewalDate]) VALUES (87, 47, 1, CAST(N'2025-08-08T11:32:28.143' AS DateTime), CAST(N'2028-02-08T11:32:28.143' AS DateTime), 0, CAST(N'2025-08-08' AS Date))
SET IDENTITY_INSERT [dbo].[UserMembership] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccinationAppointment] ON 

INSERT [dbo].[VaccinationAppointment] ([AppointmentId], [ChildId], [ScheduleId], [OrderId], [Status], [Note], [CreatedAt], [UpdatedAt]) VALUES (1, 18, 22, NULL, N'Pending', N'string', CAST(N'2025-07-16T16:55:59.110' AS DateTime), CAST(N'2025-07-16T16:55:59.110' AS DateTime))
INSERT [dbo].[VaccinationAppointment] ([AppointmentId], [ChildId], [ScheduleId], [OrderId], [Status], [Note], [CreatedAt], [UpdatedAt]) VALUES (2, 18, 25, NULL, N'Completed', N'None', CAST(N'2025-07-20T11:26:04.917' AS DateTime), CAST(N'2025-07-27T06:27:42.237' AS DateTime))
INSERT [dbo].[VaccinationAppointment] ([AppointmentId], [ChildId], [ScheduleId], [OrderId], [Status], [Note], [CreatedAt], [UpdatedAt]) VALUES (3, 27, 29, NULL, N'Completed', N'string', CAST(N'2025-07-20T11:27:11.367' AS DateTime), CAST(N'2025-07-24T04:33:58.833' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[VaccinationAppointment] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccinationAppointmentDetail] ON 

INSERT [dbo].[VaccinationAppointmentDetail] ([DetailID], [AppointmentID], [VaccineId], [VaccinationDate], [DoseNumber], [Notes], [CreatedAt], [UpdatedAt]) VALUES (1, 2, 2, CAST(N'2025-07-22' AS Date), N'1', NULL, CAST(N'2025-07-20T11:26:04.980' AS DateTime), CAST(N'2025-07-20T11:26:04.980' AS DateTime))
INSERT [dbo].[VaccinationAppointmentDetail] ([DetailID], [AppointmentID], [VaccineId], [VaccinationDate], [DoseNumber], [Notes], [CreatedAt], [UpdatedAt]) VALUES (2, 2, 4, CAST(N'2025-07-22' AS Date), N'1', NULL, CAST(N'2025-07-20T11:26:04.993' AS DateTime), CAST(N'2025-07-20T11:26:04.993' AS DateTime))
INSERT [dbo].[VaccinationAppointmentDetail] ([DetailID], [AppointmentID], [VaccineId], [VaccinationDate], [DoseNumber], [Notes], [CreatedAt], [UpdatedAt]) VALUES (3, 3, 3, CAST(N'2025-07-22' AS Date), N'1', NULL, CAST(N'2025-07-20T11:27:11.377' AS DateTime), CAST(N'2025-07-20T11:27:11.377' AS DateTime))
SET IDENTITY_INSERT [dbo].[VaccinationAppointmentDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccinationFacility] ON 

INSERT [dbo].[VaccinationFacility] ([FacilityId], [FacilityName], [LicenseNumber], [Address], [Phone], [Email], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'Long Châu', 123, N'TP.HCM', 12312312, N'longchau@gmail.com', N'Nhà thuốc Long Châu', 1, 1, 1)
INSERT [dbo].[VaccinationFacility] ([FacilityId], [FacilityName], [LicenseNumber], [Address], [Phone], [Email], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (4, N'Viet Duc', 999999999, N'string', 999999999, N'VietDuc@example.com', N'string', 1, 1752684164, 1752684164)
INSERT [dbo].[VaccinationFacility] ([FacilityId], [FacilityName], [LicenseNumber], [Address], [Phone], [Email], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (5, N'Co so Vaccine 69', 995999999, N'348 Le Van Viet, Thu Duc, Tp HCM', 999999999, N'Vaccinefacility68@gmail.com', N'Co so vaccine uy tin, an toan', 1, 1752758631, 1752758631)
SET IDENTITY_INSERT [dbo].[VaccinationFacility] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccinationFacilityPaymentAccount] ON 

SET IDENTITY_INSERT [dbo].[VaccinationFacilityPaymentAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[Vaccine] ON 

INSERT [dbo].[Vaccine] ([VaccineId], [Name], [Description], [Manufacturer], [Category], [AgeGroup], [NumberOfDoses], [MinIntervalBetweenDoses], [SideEffects], [Contraindications], [Price], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'string', N'string', N'string', N'string', N'string', 3, 2, N'string', N'string', CAST(100000.00 AS Decimal(10, 2)), N'Approved', CAST(N'2025-06-27T13:37:04.420' AS DateTime), CAST(N'2025-06-27T13:37:04.420' AS DateTime))
INSERT [dbo].[Vaccine] ([VaccineId], [Name], [Description], [Manufacturer], [Category], [AgeGroup], [NumberOfDoses], [MinIntervalBetweenDoses], [SideEffects], [Contraindications], [Price], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'Vắc xin Comirnaty', N'Vắc xin phòng COVID-19 do Pfizer-BioNTech sản xuất.', N'Pfizer-BioNTech', N'COVID-19', N'12+', 3, 2, N'Sốt nhẹ, đau tại chỗ tiêm, mệt mỏi', N'Dị ứng với thành phần vắc xin', CAST(100000.00 AS Decimal(10, 2)), N'Approved', CAST(N'2025-06-28T02:38:47.150' AS DateTime), CAST(N'2025-06-28T02:38:47.150' AS DateTime))
INSERT [dbo].[Vaccine] ([VaccineId], [Name], [Description], [Manufacturer], [Category], [AgeGroup], [NumberOfDoses], [MinIntervalBetweenDoses], [SideEffects], [Contraindications], [Price], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'Vắc xin Imojev', N'Vắc xin phòng viêm não Nhật Bản sống giảm độc lực.', N'Sanofi', N'Vi rút', N'9 tháng trở lên', 3, 6, N'Sốt, đau đầu, phát ban', N'Suy giảm miễn dịch', CAST(230000.00 AS Decimal(10, 2)), N'Approved', CAST(N'2025-06-28T02:39:11.117' AS DateTime), CAST(N'2025-06-28T02:39:11.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[Vaccine] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccineDisease] ON 

INSERT [dbo].[VaccineDisease] ([VaccineDiseaseID], [DiseaseID], [VaccineID], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 1, CAST(N'2025-06-27T13:37:04.420' AS DateTime), CAST(N'2025-06-27T13:37:04.420' AS DateTime))
INSERT [dbo].[VaccineDisease] ([VaccineDiseaseID], [DiseaseID], [VaccineID], [CreatedAt], [UpdatedAt]) VALUES (2, 1, 2, CAST(N'2025-06-28T02:38:47.150' AS DateTime), CAST(N'2025-06-28T02:38:47.150' AS DateTime))
INSERT [dbo].[VaccineDisease] ([VaccineDiseaseID], [DiseaseID], [VaccineID], [CreatedAt], [UpdatedAt]) VALUES (3, 3, 3, CAST(N'2025-06-28T02:39:11.117' AS DateTime), CAST(N'2025-06-28T02:39:11.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[VaccineDisease] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccinePackage] ON 

INSERT [dbo].[VaccinePackage] ([PackageId], [FacilityId], [Name], [Description], [Duration], [Price], [Status], [CreatedAt], [UpdatedAt]) VALUES (11, 3, N'Gói 2in1', N'Cho trẻ nhỏ', 12, CAST(1700000.00 AS Decimal(10, 2)), N'true', CAST(N'2025-07-20T17:01:48.040' AS DateTime), CAST(N'2025-07-20T17:01:48.040' AS DateTime))
INSERT [dbo].[VaccinePackage] ([PackageId], [FacilityId], [Name], [Description], [Duration], [Price], [Status], [CreatedAt], [UpdatedAt]) VALUES (12, 3, N'Gói cho trẻ dưới 12 tháng tuổi', N'Dành cho trẻ nhỏ', 12, CAST(3900000.00 AS Decimal(10, 2)), N'true', CAST(N'2025-07-21T05:21:51.303' AS DateTime), CAST(N'2025-07-21T05:21:51.303' AS DateTime))
INSERT [dbo].[VaccinePackage] ([PackageId], [FacilityId], [Name], [Description], [Duration], [Price], [Status], [CreatedAt], [UpdatedAt]) VALUES (13, 5, N'GÓI VẮC XIN CHO TRẺ 0-2 TUỔI', N'Hexaxim - Rotateq - Varilrix', 12, CAST(990000.00 AS Decimal(10, 2)), N'true', CAST(N'2025-07-26T05:28:08.090' AS DateTime), CAST(N'2025-07-26T05:28:08.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[VaccinePackage] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccineTemplate] ON 

INSERT [dbo].[VaccineTemplate] ([Id], [DiseaseId], [PeriodFrom], [PeriodTo], [DoseNum], [Description], [IsRequired], [CreatedAt], [UpdatedAt]) VALUES (3, 10, N'0 hour', N'1 ngày', 1, N'Mũi sơ sinh (24h)', 1, CAST(N'2025-08-03T00:00:00.000' AS DateTime), CAST(N'2025-08-03T00:00:00.000' AS DateTime))
INSERT [dbo].[VaccineTemplate] ([Id], [DiseaseId], [PeriodFrom], [PeriodTo], [DoseNum], [Description], [IsRequired], [CreatedAt], [UpdatedAt]) VALUES (6, 10, N'2 tháng', N'3 tháng', 1, N'Trường hợp 1', 1, CAST(N'2025-08-03T00:00:00.000' AS DateTime), CAST(N'2025-08-03T00:00:00.000' AS DateTime))
INSERT [dbo].[VaccineTemplate] ([Id], [DiseaseId], [PeriodFrom], [PeriodTo], [DoseNum], [Description], [IsRequired], [CreatedAt], [UpdatedAt]) VALUES (7, 10, N'3 tháng', N'4 tháng', 2, N'Trường hợp 1', 1, CAST(N'2025-08-04T04:05:05.390' AS DateTime), CAST(N'2025-08-04T04:05:05.390' AS DateTime))
SET IDENTITY_INSERT [dbo].[VaccineTemplate] OFF
GO
ALTER TABLE [dbo].[AppointmentSchedule] ADD  DEFAULT ((0)) FOR [BookedCount]
GO
ALTER TABLE [dbo].[AppointmentSchedule]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentSchedule_Facility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[VaccinationFacility] ([FacilityId])
GO
ALTER TABLE [dbo].[AppointmentSchedule] CHECK CONSTRAINT [FK_AppointmentSchedule_Facility]
GO
ALTER TABLE [dbo].[AppointmentSchedule]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentSchedule_Slot] FOREIGN KEY([SlotId])
REFERENCES [dbo].[ScheduleSlot] ([SlotId])
GO
ALTER TABLE [dbo].[AppointmentSchedule] CHECK CONSTRAINT [FK_AppointmentSchedule_Slot]
GO
ALTER TABLE [dbo].[AppointmentSurvey]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentSurvey_Answer] FOREIGN KEY([AnswerID])
REFERENCES [dbo].[SurveyAnswer] ([AnswerID])
GO
ALTER TABLE [dbo].[AppointmentSurvey] CHECK CONSTRAINT [FK_AppointmentSurvey_Answer]
GO
ALTER TABLE [dbo].[AppointmentSurvey]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentSurvey_Appointment] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[VaccinationAppointment] ([AppointmentId])
GO
ALTER TABLE [dbo].[AppointmentSurvey] CHECK CONSTRAINT [FK_AppointmentSurvey_Appointment]
GO
ALTER TABLE [dbo].[AppointmentSurvey]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentSurvey_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[SurveyQuestion] ([QuestionID])
GO
ALTER TABLE [dbo].[AppointmentSurvey] CHECK CONSTRAINT [FK_AppointmentSurvey_Question]
GO
ALTER TABLE [dbo].[Child]  WITH CHECK ADD  CONSTRAINT [FK_Child_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Child] CHECK CONSTRAINT [FK_Child_Member]
GO
ALTER TABLE [dbo].[Child]  WITH CHECK ADD  CONSTRAINT [FK_Child_Nationality] FOREIGN KEY([NationId])
REFERENCES [dbo].[Nationality] ([NationId])
GO
ALTER TABLE [dbo].[Child] CHECK CONSTRAINT [FK_Child_Nationality]
GO
ALTER TABLE [dbo].[ChildVaccineProfile]  WITH CHECK ADD  CONSTRAINT [FK_ChildVaccineProfile_Appointment] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[VaccinationAppointment] ([AppointmentId])
GO
ALTER TABLE [dbo].[ChildVaccineProfile] CHECK CONSTRAINT [FK_ChildVaccineProfile_Appointment]
GO
ALTER TABLE [dbo].[ChildVaccineProfile]  WITH CHECK ADD  CONSTRAINT [FK_ChildVaccineProfile_Child] FOREIGN KEY([ChildId])
REFERENCES [dbo].[Child] ([child_id])
GO
ALTER TABLE [dbo].[ChildVaccineProfile] CHECK CONSTRAINT [FK_ChildVaccineProfile_Child]
GO
ALTER TABLE [dbo].[ChildVaccineProfile]  WITH CHECK ADD  CONSTRAINT [FK_ChildVaccineProfile_Disease] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Disease] ([DiseaseID])
GO
ALTER TABLE [dbo].[ChildVaccineProfile] CHECK CONSTRAINT [FK_ChildVaccineProfile_Disease]
GO
ALTER TABLE [dbo].[ChildVaccineProfile]  WITH CHECK ADD  CONSTRAINT [FK_ChildVaccineProfile_Vaccine] FOREIGN KEY([VaccineId])
REFERENCES [dbo].[Vaccine] ([VaccineId])
GO
ALTER TABLE [dbo].[ChildVaccineProfile] CHECK CONSTRAINT [FK_ChildVaccineProfile_Vaccine]
GO
ALTER TABLE [dbo].[DailyRecord]  WITH CHECK ADD  CONSTRAINT [FK_DailyRecord_Child] FOREIGN KEY([ChildId])
REFERENCES [dbo].[Child] ([child_id])
GO
ALTER TABLE [dbo].[DailyRecord] CHECK CONSTRAINT [FK_DailyRecord_Child]
GO
ALTER TABLE [dbo].[DoctorProfile]  WITH CHECK ADD  CONSTRAINT [FK_DoctorProfile_FacilityStaff] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[FacilityStaff] ([staff_id])
GO
ALTER TABLE [dbo].[DoctorProfile] CHECK CONSTRAINT [FK_DoctorProfile_FacilityStaff]
GO
ALTER TABLE [dbo].[FacilityMembershipSubscription]  WITH CHECK ADD  CONSTRAINT [FK_FacilityMembershipSubscription_Facility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[VaccinationFacility] ([FacilityId])
GO
ALTER TABLE [dbo].[FacilityMembershipSubscription] CHECK CONSTRAINT [FK_FacilityMembershipSubscription_Facility]
GO
ALTER TABLE [dbo].[FacilityMembershipSubscription]  WITH CHECK ADD  CONSTRAINT [FK_FacilityMembershipSubscription_Membership] FOREIGN KEY([FacilityMembershipId])
REFERENCES [dbo].[FacilityMembership] ([FacilityMembershipId])
GO
ALTER TABLE [dbo].[FacilityMembershipSubscription] CHECK CONSTRAINT [FK_FacilityMembershipSubscription_Membership]
GO
ALTER TABLE [dbo].[FacilityRatings]  WITH CHECK ADD  CONSTRAINT [FK_FacilityRatings_Facility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[VaccinationFacility] ([FacilityId])
GO
ALTER TABLE [dbo].[FacilityRatings] CHECK CONSTRAINT [FK_FacilityRatings_Facility]
GO
ALTER TABLE [dbo].[FacilityRatings]  WITH CHECK ADD  CONSTRAINT [FK_FacilityRatings_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[FacilityRatings] CHECK CONSTRAINT [FK_FacilityRatings_Member]
GO
ALTER TABLE [dbo].[FacilityStaff]  WITH CHECK ADD  CONSTRAINT [FK_FacilityStaff_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[FacilityStaff] CHECK CONSTRAINT [FK_FacilityStaff_Account]
GO
ALTER TABLE [dbo].[FacilityStaff]  WITH CHECK ADD  CONSTRAINT [FK_FacilityStaff_Facility] FOREIGN KEY([facility_id])
REFERENCES [dbo].[VaccinationFacility] ([FacilityId])
GO
ALTER TABLE [dbo].[FacilityStaff] CHECK CONSTRAINT [FK_FacilityStaff_Facility]
GO
ALTER TABLE [dbo].[FacilityVaccine]  WITH CHECK ADD  CONSTRAINT [FK_FacilityVaccine_Facility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[VaccinationFacility] ([FacilityId])
GO
ALTER TABLE [dbo].[FacilityVaccine] CHECK CONSTRAINT [FK_FacilityVaccine_Facility]
GO
ALTER TABLE [dbo].[FacilityVaccine]  WITH CHECK ADD  CONSTRAINT [FK_FacilityVaccine_Vaccine] FOREIGN KEY([VaccineId])
REFERENCES [dbo].[Vaccine] ([VaccineId])
GO
ALTER TABLE [dbo].[FacilityVaccine] CHECK CONSTRAINT [FK_FacilityVaccine_Vaccine]
GO
ALTER TABLE [dbo].[GrowthRecord]  WITH CHECK ADD  CONSTRAINT [FK_GrowthRecord_Child] FOREIGN KEY([child_id])
REFERENCES [dbo].[Child] ([child_id])
GO
ALTER TABLE [dbo].[GrowthRecord] CHECK CONSTRAINT [FK_GrowthRecord_Child]
GO
ALTER TABLE [dbo].[GrowthStandard]  WITH CHECK ADD  CONSTRAINT [FK_GrowthStandard_Nationality] FOREIGN KEY([NationId])
REFERENCES [dbo].[Nationality] ([NationId])
GO
ALTER TABLE [dbo].[GrowthStandard] CHECK CONSTRAINT [FK_GrowthStandard_Nationality]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Member]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[VaccinePackage] ([PackageId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Package]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Disease] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Disease] ([DiseaseID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Disease]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_FacilityVaccine] FOREIGN KEY([FacilityVaccineID])
REFERENCES [dbo].[FacilityVaccine] ([FacilityVaccineId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_FacilityVaccine]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[PackageVaccine]  WITH CHECK ADD  CONSTRAINT [FK_PackageVaccine_Disease] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Disease] ([DiseaseID])
GO
ALTER TABLE [dbo].[PackageVaccine] CHECK CONSTRAINT [FK_PackageVaccine_Disease]
GO
ALTER TABLE [dbo].[PackageVaccine]  WITH CHECK ADD  CONSTRAINT [FK_PackageVaccine_FacilityVaccine1] FOREIGN KEY([FacilityVaccineId])
REFERENCES [dbo].[FacilityVaccine] ([FacilityVaccineId])
GO
ALTER TABLE [dbo].[PackageVaccine] CHECK CONSTRAINT [FK_PackageVaccine_FacilityVaccine1]
GO
ALTER TABLE [dbo].[PackageVaccine]  WITH CHECK ADD  CONSTRAINT [FK_PackageVaccine_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[VaccinePackage] ([PackageId])
GO
ALTER TABLE [dbo].[PackageVaccine] CHECK CONSTRAINT [FK_PackageVaccine_Package]
GO
ALTER TABLE [dbo].[ScheduleSlot]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleSlot_VaccinationFacility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[VaccinationFacility] ([FacilityId])
GO
ALTER TABLE [dbo].[ScheduleSlot] CHECK CONSTRAINT [FK_ScheduleSlot_VaccinationFacility]
GO
ALTER TABLE [dbo].[SurveyAnswer]  WITH CHECK ADD  CONSTRAINT [FK_SurveyAnswer_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[SurveyQuestion] ([QuestionID])
GO
ALTER TABLE [dbo].[SurveyAnswer] CHECK CONSTRAINT [FK_SurveyAnswer_Question]
GO
ALTER TABLE [dbo].[SurveyQuestion]  WITH CHECK ADD  CONSTRAINT [FK_SurveyQuestion_Survey] FOREIGN KEY([SurveyId])
REFERENCES [dbo].[HealthSurvey] ([SurveyID])
GO
ALTER TABLE [dbo].[SurveyQuestion] CHECK CONSTRAINT [FK_SurveyQuestion_Survey]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_FacilityMembershipSubscription] FOREIGN KEY([FacilityMembershipSubscriptionId])
REFERENCES [dbo].[FacilityMembershipSubscription] ([SubscriptionId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_FacilityMembershipSubscription]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_UserMembership] FOREIGN KEY([UserMembershipId])
REFERENCES [dbo].[UserMembership] ([UserMembershipId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_UserMembership]
GO
ALTER TABLE [dbo].[UserMembership]  WITH CHECK ADD  CONSTRAINT [FK_UserMembership_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[UserMembership] CHECK CONSTRAINT [FK_UserMembership_Account]
GO
ALTER TABLE [dbo].[UserMembership]  WITH CHECK ADD  CONSTRAINT [FK_UserMembership_Membership] FOREIGN KEY([MembershipId])
REFERENCES [dbo].[Membership] ([MembershipId])
GO
ALTER TABLE [dbo].[UserMembership] CHECK CONSTRAINT [FK_UserMembership_Membership]
GO
ALTER TABLE [dbo].[VaccinationAppointment]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationAppointment_Child] FOREIGN KEY([ChildId])
REFERENCES [dbo].[Child] ([child_id])
GO
ALTER TABLE [dbo].[VaccinationAppointment] CHECK CONSTRAINT [FK_VaccinationAppointment_Child]
GO
ALTER TABLE [dbo].[VaccinationAppointment]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationAppointment_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[VaccinationAppointment] CHECK CONSTRAINT [FK_VaccinationAppointment_Order]
GO
ALTER TABLE [dbo].[VaccinationAppointment]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationAppointment_Schedule] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[AppointmentSchedule] ([ScheduleId])
GO
ALTER TABLE [dbo].[VaccinationAppointment] CHECK CONSTRAINT [FK_VaccinationAppointment_Schedule]
GO
ALTER TABLE [dbo].[VaccinationAppointmentDetail]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationAppointmentDetail_Appointment] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[VaccinationAppointment] ([AppointmentId])
GO
ALTER TABLE [dbo].[VaccinationAppointmentDetail] CHECK CONSTRAINT [FK_VaccinationAppointmentDetail_Appointment]
GO
ALTER TABLE [dbo].[VaccinationAppointmentDetail]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationAppointmentDetail_Vaccine] FOREIGN KEY([VaccineId])
REFERENCES [dbo].[Vaccine] ([VaccineId])
GO
ALTER TABLE [dbo].[VaccinationAppointmentDetail] CHECK CONSTRAINT [FK_VaccinationAppointmentDetail_Vaccine]
GO
ALTER TABLE [dbo].[VaccinationFacilityPaymentAccount]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationFacilityPaymentAccount_VaccinationFacility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[VaccinationFacility] ([FacilityId])
GO
ALTER TABLE [dbo].[VaccinationFacilityPaymentAccount] CHECK CONSTRAINT [FK_VaccinationFacilityPaymentAccount_VaccinationFacility]
GO
ALTER TABLE [dbo].[VaccineDisease]  WITH CHECK ADD  CONSTRAINT [FK_VaccineDisease_Disease] FOREIGN KEY([DiseaseID])
REFERENCES [dbo].[Disease] ([DiseaseID])
GO
ALTER TABLE [dbo].[VaccineDisease] CHECK CONSTRAINT [FK_VaccineDisease_Disease]
GO
ALTER TABLE [dbo].[VaccineDisease]  WITH CHECK ADD  CONSTRAINT [FK_VaccineDisease_Vaccine] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[Vaccine] ([VaccineId])
GO
ALTER TABLE [dbo].[VaccineDisease] CHECK CONSTRAINT [FK_VaccineDisease_Vaccine]
GO
ALTER TABLE [dbo].[VaccinePackage]  WITH CHECK ADD  CONSTRAINT [FK_VaccinePackage_Facility] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[VaccinationFacility] ([FacilityId])
GO
ALTER TABLE [dbo].[VaccinePackage] CHECK CONSTRAINT [FK_VaccinePackage_Facility]
GO
ALTER TABLE [dbo].[VaccineTemplate]  WITH CHECK ADD  CONSTRAINT [FK_VaccineTemplate_Disease] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Disease] ([DiseaseID])
GO
ALTER TABLE [dbo].[VaccineTemplate] CHECK CONSTRAINT [FK_VaccineTemplate_Disease]
GO
